@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Satisfy&display=swap');
@tailwind base;

.theme-layout-container{
  @apply h-auto min-h-[8000px] w-full bg-gray-light p-[30px] flex flex-col items-center
}

/*text*/
.large-header{
  @apply font-Nanum-Myeongjo text-[52px] font-bold tracking-widest text-gray-mid
}
.mid-header{
  @apply font-Nanum-Myeongjo text-[40px] font-bold  text-gray-mid
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
  z-index: 10;
}

@tailwind components;



@tailwind utilities;

